.tab {
  display: flex;
  height: 35px;
  align-items: center;
  background-color: var(--dark-background);
  font-size: 12px;
  font-weight: normal;
  border-right: 0.02px inset var(--mid-background);
  border-bottom: none;
  border-top: none;
  color: var(--grey);
  padding: 0 5px;
  border-left: none;
  transition: ease-in 0.2s;
  text-decoration: none;
}

.tab:hover {
  color: var(--white-text);
}

.tab-active {
  border-top: 0.1px solid orangered;
  background-color: var(--mid-background);
  color: var(--white-text);
}

.close_link {
  color: var(--grey);
  transform: scale(0.6);
  margin-left: 10px;
}

.logo {
  transform: scale(1.4);
  margin-left: 7px;
}
.js {
  color: rgb(255, 202, 40);
}
.css {
  color: #006699;
}
.html {
  color: #f06529;
}
.dart {
  color: #0075ba;
}
.sass {
  color: #cd6799;
}
.tab_name {
  margin-left: 8px;
  font-size: 12px;
}
