@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.projects {
  padding: 20px;
  font-family: "Ubuntu Mono", monospace;
}
a {
  text-decoration: none;
}
li {
  list-style: square;
}

.heading {
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Ubuntu Mono", monospace;
  font-size: 22px;
  cursor: pointer;
}

.project-name {
  font-size: 19px;
  display: inline-block;
  list-style: square;
  cursor: pointer;
  margin: 10px;
}

.project-description,
.project-tech {
  font-size: 16px;
  margin: 5px 0;
}
