@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.projects {
  padding: 20px;
  font-family: "Ubuntu Mono", monospace;
  color: var(--text-grey);
}

a {
  text-decoration: none;
  color: var(--text-grey);
}
li {
  list-style: square;
}

.heading {
  color: rgb(66, 165, 245);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 22px;
  cursor: pointer;
}

.project-name {
  font-size: 19px;
  display: inline-block;
  list-style: square;
  cursor: pointer;

  margin: 10px;
}

.project-description,
.project-tech {
  font-size: 16px;
  margin: 5px 0;
}
