
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mid_panel {
  display: flex;

  position: absolute;
  top: 26px;
  bottom: 20px;
}

.left_panel {
  width: 45px;
  position: absolute;
  top: 25px;

  bottom: 0;
}
@media screen and (max-width: 768px) {
 *{
  overflow: hidden;
}
}

/* Other files */

/* TopPanel.js */

/* RightPanel.js */

/* Footer.js */
