@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
body {
  margin: 0;
  padding: 0;
  transition: ease-in 0.2s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --dark-background: #21252b;
  --mid-background: #282c34;
  --light-background: #333842;
  --grey: #6a737d;
  --white-text: #f3f3f3;
  --text-grey: #abb2bf;
  --blue-heading: rgb(66, 165, 245);
}
